**/*.orig
**/*.swp
*.class
*.jar
*~
/.idea
/.idea
/.lein-*
/.nrepl-port
/checkouts
/classes
/loggs
/resources/public/js
/target
/test/repetitions.txt
Session.vim
figwheel_server.log
file-storage.dat
pom.xml
pom.xml.asc
tango.iml
