[;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Competition

 ;; id
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :competition/id
  :db/unique             :db.unique/identity
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/doc                "Competitions id"
  :db.install/_attribute :db.part/db}

 ;; name
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :competition/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "A competitions name"
  :db.install/_attribute :db.part/db}

 ;; location
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :competition/location
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "A competitions location"
  :db.install/_attribute :db.part/db}

 ;; date
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :competition/date
  :db/valueType          :db.type/instant
  :db/cardinality        :db.cardinality/one
  :db/doc                "A competitions date"
  :db.install/_attribute :db.part/db}

 ;; options
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :competition/options
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "The options for a competition"
  :db.install/_attribute :db.part/db}

 ;; panels
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :competition/panels
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The adjudicator panels for a competition"
  :db.install/_attribute :db.part/db}

 ;; adjudicators
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :competition/adjudicators
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The adjudicators for a competition"
  :db.install/_attribute :db.part/db}

 ;; activities
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :competition/activities
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The activities for a competition"
  :db.install/_attribute :db.part/db}

 ;; classes
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :competition/classes
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The classes for a competition"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Dance competition options

 ;; same-heat-all-dances
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dance-competition/same-heat-all-dances
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Same heat for all dances"
  :db.install/_attribute :db.part/db}

 ;; heat-text-on-adjudicator-sheet
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dance-competition/heat-text-on-adjudicator-sheet
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Use heat text on adjudicator sheet"
  :db.install/_attribute :db.part/db}

 ;; name-on-number-sign
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dance-competition/name-on-number-sign
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Use name on number sign"
  :db.install/_attribute :db.part/db}

 ;; skip-adjudicator-letter
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dance-competition/skip-adjudicator-letter
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Skip adjudicator letter"
  :db.install/_attribute :db.part/db}

 ;; adjudicator-order-final
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dance-competition/adjudicator-order-final
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Adjudicator order final"
  :db.install/_attribute :db.part/db}

 ;; random-order-in-heats
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dance-competition/random-order-in-heats
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Use random order in heats"
  :db.install/_attribute :db.part/db}

 ;; club-on-number-sign
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dance-competition/club-on-number-sign
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Use club on number sign"
  :db.install/_attribute :db.part/db}

 ;; adjudicator order other
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dance-competition/adjudicator-order-other
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Use other adjudicator order"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Presentation options

 ;; chinese-fonts
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :presentation/chinese-fonts
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Use chinese fonts"
  :db.install/_attribute :db.part/db}

 ;; courier-font
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :presentation/courier-font
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Name of courier font"
  :db.install/_attribute :db.part/db}

 ;; arial-font
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :presentation/arial-font
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Name of arial font"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Printer options

 ;; preview
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :printer/preview
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Use preview"
  :db.install/_attribute :db.part/db}

 ;; printer-select-paper
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :printer/printer-select-paper
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Select printer paper"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Activity

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :activity/id
  :db/unique             :db.unique/identity
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/doc                "An activity id"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :activity/position
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "An activitys position"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :activity/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "An activity name"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :activity/confirmed-by
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The adjudicators that have confirmed results for this activity"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :activity/number
  ; :db/unique             :db.unique/identity
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "An activitys number"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :activity/comment
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "An activitys comment"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :activity/time
  :db/valueType          :db.type/instant
  :db/cardinality        :db.cardinality/one
  :db/doc                "An activitys associated time"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :activity/source
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "The source that this activity is meta data for"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Class

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :class/id
  :db/unique             :db.unique/identity
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/doc                "A class's id"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :class/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "A class's name"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :class/position
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "The position of a class"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :class/dances
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The dances of a class"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :class/rounds
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The rounds of a class"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :class/adjudicator-panel
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "The panel of a class"
  :db.install/_attribute :db.part/db}

 ;; TODO - does this make sense or should it be derived?
 ;{:db/id                 #db/id[:db.part/db]
 ; :db/ident              :class/remaining
 ; :db/valueType          :db.type/ref
 ; :db/cardinality        :db.cardinality/many
 ; :db/doc                "The remaining participants of a class"
 ; :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :class/starting
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The starting participants of a class"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Round

 ;; Status Enums
 {:db/id #db/id[:db.part/user]
  :db/ident :status/not-started}

 {:db/id #db/id[:db.part/user]
  :db/ident :status/completed}

 ;; Type Enums
 {:db/id #db/id[:db.part/user]
  :db/ident :round-type/normal-x}

 {:db/id #db/id[:db.part/user]
  :db/ident :round-type/semifinal-x}

 {:db/id #db/id[:db.part/user]
  :db/ident :round-type/final-x}

 {:db/id #db/id[:db.part/user]
  :db/ident :round-type/b-final-x}

 {:db/id #db/id[:db.part/user]
  :db/ident :round-type/retry-x}

 {:db/id #db/id[:db.part/user]
  :db/ident :round-type/second-try-x}

 {:db/id #db/id[:db.part/user]
  :db/ident :round-type/presentation}

 ;; id
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/id
  :db/unique             :db.unique/identity
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/doc                "A rounds id"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/number-to-recall
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "The number of participants to be recalled from a round"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/status
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "The status of a round"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/type
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "The type of a round"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "A rounds name"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/number
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "A rounds number"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/index
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "A rounds index in its class"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/number-of-heats
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "A rounds number of heats"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/starting
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The starting participants in a round"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/panel
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "The adjudicator panel in a round"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/dances
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The dances in a round"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/results
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The results of a round"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :round/start-time
  :db/valueType          :db.type/instant
  :db/cardinality        :db.cardinality/one
  :db/doc                "The starting time of a round"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Results

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :result/id
  :db/valueType          :db.type/uuid
  :db/unique             :db.unique/identity
  :db/cardinality        :db.cardinality/one
  :db/doc                "The results id"
  :db.install/_attribute :db.part/db}

 ;; mark-x
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :result/mark-x
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Determines if a X has been marked in this result"
  :db.install/_attribute :db.part/db}

 ;; point
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :result/point
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "The number of points given a participant (can be neg.)"
  :db.install/_attribute :db.part/db}

 ;; result/participant
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :result/participant
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "The participant these result is associated with"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :result/adjudicator
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "The adjudicator these result is associated with"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Dances
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dance/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "A dance name"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Participant

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :participant/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "A participants name"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :participant/club
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "A participants club"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :participant/number
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "A participants start number"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :participant/id
  :db/unique             :db.unique/identity
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/doc                "A participants id"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Adjudicator Panel
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :adjudicator-panel/id
  :db/unique             :db.unique/identity
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/doc                "An adjudicator panels id"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :adjudicator-panel/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "An adjudicator panels name"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :adjudicator-panel/adjudicators
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "The adjudicators in a panel"
  :db.install/_attribute :db.part/db}

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; Adjudicator
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :adjudicator/id
  :db/unique             :db.unique/identity
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/doc                "An adjudicators id"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :adjudicator/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "An adjudicators name"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :adjudicator/country
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "An adjudicators country"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :adjudicator/number
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "An adjudicators number"
  :db.install/_attribute :db.part/db}
 ]